@import "_colors"

.stats
  rect
    fill: $sun-flower
    &:hover
      cursor: pointer
      fill: darken($sun-flower, 20%)
    text
      fill: white
.time-stats
  circle
    fill: $belize-hole
    &:hover
      cursor: pointer
      fill: darken($belize-hole, 20%)
.multiple-time-stats
  circle
    fill: $pumpkin
    &:hover
      cursor: pointer
      fill: darken($pumpkin, 20%)
.roaster-stats
  .arc
    path
      stroke: white
.daily-stats
  circle
    fill: $pomegranate
    &:hover
        cursor: pointer
        fill: darken($pomegranate, 20%)

.annotated-stats
  .dots
    path
        fill: none
        stroke: steelblue
        stroke-width: 1.5px
  .axis path,
  .axis line
      fill: none
      shape-rendering: crispEdges
      stroke: $black
  .axis--y
      line
          stroke-opacity: 0.2
      path
          stroke: none

  .axis
      text
          font: 10px sans-serif