body
  font: $body-font-size $main-font-family
  padding: 10px
  +above(960px)
    padding: 10px 50px

code
  font: 0.75em $monospace-font-family

h1, h2, h3
  font-family: $heading-font-family
  margin: 0 auto 10px

h1
  font-size: 2em
  +above(960px)
    font-size: 3em
  a
    border-bottom: 0
    &:hover
      border-bottom: 0

h2
  font-size: 1.5em

h3
  font-size: 1.3em

a
  border-bottom: 2px solid $asbestos
  color: $asbestos
  font-size: 1.2em
  text-decoration: none
  transition: border-bottom 0.2s linear, all 0.5s linear