a
  &:hover
    border-bottom: 2px solid transparent
    color: $wet-asphalt
  &.logo
    border-bottom: 0
    img
      height: 200px
      +below(500px)
        left: 25%
        position: relative
